Repository TableUV/FYDP__TableUV, pull requests merged in 2021-03, with the labels that each got.

#52 [ Bug Fix ] Removed address casting
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_uv.c
Labels: dev-level

#33 + IMU Sensor Integration
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_config.c
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_imu.cpp
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_imu.h
  Firmware/ESP32/Arduino_platform/lib/IO/io_ping_map.h
  Firmware/ESP32/Arduino_platform/platformio.ini
Labels: dev-level

#53 [ Bug Fix ] Driver AVR
  Firmware/AVR/AVR_DRIVER/platformio.ini
  Firmware/AVR/AVR_DRIVER/src/main.c
Labels: bug, dev-level

#54 add working test code for right motor
  Firmware/ESP32/Arduino_platform/include/avr_driver_common.h
  Firmware/ESP32/Arduino_platform/include/common.h
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_ToF_Lidar.cpp
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_avr_actuator.c
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_avr_actuator.h
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_avr_driver.cpp
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_avr_driver.h
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_config.c
  Firmware/ESP32/Arduino_platform/lib/IO/io_ping_map.h
  Firmware/ESP32/Arduino_platform/src/main.cpp
Labels: dev-level, development

#50 [ App SLAM | Mapping ]
  .gitignore
  Firmware/ESP32/Arduino_platform/include/common.h
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_ToF_Lidar.cpp
  Firmware/ESP32/Arduino_platform/src/APP/app_slam.c
  Firmware/ESP32/Arduino_platform/src/APP/app_slam.h
  Firmware/ESP32/Arduino_platform/src/APP/app_supervisor.c
  Firmware/ESP32/Arduino_platform/src/main.cpp
  Firmware/ESP32/Arduino_platform/tools/slam_serial_visualizer.py
Labels: app-level, development

#55 bug fix: estop not stopping motor
  Firmware/AVR/AVR_DRIVER/lib/motor/motor.c
  Firmware/AVR/AVR_DRIVER/platformio.ini
  Firmware/AVR/AVR_DRIVER/src/main.c
Labels: bug, dev-level

#56 [ Avr Driver - Tsugumi ]
  Firmware/ESP32/Arduino_platform/include/avr_driver_common.h
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_avr_driver.cpp
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_avr_driver.h
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_config.c
  Firmware/ESP32/Arduino_platform/src/APP/app_supervisor.c
  Firmware/ESP32/Arduino_platform/src/main.cpp
Labels: attention !, bug, dev-level

#58 [ DEMO : Choreography Code Implemented ]
  Firmware/ESP32/Arduino_platform/include/common.h
  Firmware/ESP32/Arduino_platform/src/APP/app_supervisor.c
  Firmware/ESP32/Arduino_platform/src/main.cpp
Labels: app-level, attention !, feature

#60 + avr sensor mapping integration & tested
  Firmware/ESP32/Arduino_platform/include/common.h
  Firmware/ESP32/Arduino_platform/src/APP/app_slam.c
  Firmware/ESP32/Arduino_platform/src/APP/app_slam.h
  Firmware/ESP32/Arduino_platform/src/APP/app_supervisor.c
  Firmware/ESP32/Arduino_platform/tools/slam_serial_visualizer.py
Labels: app-level, integration

#61 User/jack/tof integration hacky demo
  Firmware/ESP32/Arduino_platform/include/avr_driver_common.h
  Firmware/ESP32/Arduino_platform/include/common.h
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_ToF_Lidar.cpp
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_ToF_Lidar.h
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_avr_driver.cpp
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_avr_driver.h
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_avr_sensor.h
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_config.c
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_led.c
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_uv.c
  Firmware/ESP32/Arduino_platform/lib/IO/io_ping_map.h
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/src/SparkFun_VL53L1X.cpp
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/src/SparkFun_VL53L1X.h
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/src/vl53l1x_class.h
  Firmware/ESP32/Arduino_platform/platformio.ini
  Firmware/ESP32/Arduino_platform/src/APP/app_slam.c
  Firmware/ESP32/Arduino_platform/src/APP/app_slam.h
  Firmware/ESP32/Arduino_platform/src/APP/app_supervisor.c
  Firmware/ESP32/Arduino_platform/src/main.cpp
Labels: app-level, attention !
