Repository TableUV/FYDP__TableUV, pull requests merged in 2021-02, with the labels that each got.

#18 App Level Architecture (WIP)
  .DS_Store
  .gitignore
  Firmware/.DS_Store
  Firmware/AVR/.gitignore
  Firmware/ESP32/Hardware_bringup/src/APP/app_slam.c
  Firmware/ESP32/Hardware_bringup/src/APP/app_slam.h
  Firmware/ESP32/Hardware_bringup/src/APP/app_supervisor.c
  Firmware/ESP32/Hardware_bringup/src/APP/app_supervisor.h
  Firmware/ESP32/Hardware_bringup/src/main.c
  Firmware/ESP32/tableuv.code-workspace
Labels: app-level, development

#27 [ TableUV | Arduino Platform ]
  .DS_Store
  Firmware/.DS_Store
  Firmware/ESP32/.DS_Store
  Firmware/ESP32/Arduino_platform/.gitignore
  Firmware/ESP32/Arduino_platform/include/README
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_ToF_Lidar.c
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_ToF_Lidar.h
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_avr_actuator.c
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_avr_actuator.h
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_avr_sensor.c
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_avr_sensor.h
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_battery.c
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_battery.h
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_config.c
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_config.h
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_led.c
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_led.h
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_uv.c
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_uv.h
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_vl53l1x.c
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_vl53l1x.h
  Firmware/ESP32/Arduino_platform/lib/IO/io_ping_map.h
  Firmware/ESP32/Arduino_platform/lib/README
  Firmware/ESP32/Arduino_platform/platformio.ini
  Firmware/ESP32/Arduino_platform/src/APP/app_slam.c
  Firmware/ESP32/Arduino_platform/src/APP/app_slam.h
  Firmware/ESP32/Arduino_platform/src/APP/app_supervisor.c
  Firmware/ESP32/Arduino_platform/src/APP/app_supervisor.h
  Firmware/ESP32/Arduino_platform/src/main.cpp
  Firmware/ESP32/Arduino_platform/test/README
Labels: development, enhancement

#32 [ common.h for feature controls + (wip) ToF ]
  .gitignore
  Firmware/ESP32/.DS_Store
  Firmware/ESP32/Arduino_platform/include/common.h
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_ToF_Lidar.c
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_ToF_Lidar.cpp
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_ToF_Lidar.h
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_config.c
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_vl53l1x.c
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_vl53l1x.h
  Firmware/ESP32/Arduino_platform/lib/IO/io_ping_map.h
  Firmware/ESP32/Arduino_platform/platformio.ini
Labels: development

#39 [ ToF Lidar ]
  Firmware/ESP32/Arduino_platform/include/common.h
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_ToF_Lidar.cpp
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_ToF_Lidar.h
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_config.c
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_config.h
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/.github/workflows/LibraryBuild.yml
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/.piopm
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/LICENSE.md
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/README.md
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/examples/Example1_ReadDistance/Example1_ReadDistance.ino
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/examples/Example2_SetDistanceMode/Example2_SetDistanceMode.ino
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/examples/Example3_StatusAndRate/Example3_StatusAndRate.ino
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/examples/Example4_SetIntermeasurementPeriod/Example4_SetIntermeasurementPeriod.ino
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/examples/Example5_LCDDemo/Example5_LCDDemo.ino
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/examples/Example6_ArduinoPlotterOutput/Example6_ArduinoPlotterOutput.ino
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/examples/Example7_Calibration/Example7_Calibration.ino
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/keywords.txt
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/library.properties
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/src/ComponentObject.h
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/src/RangeSensor.h
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/src/SparkFun_VL53L1X.cpp
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/src/SparkFun_VL53L1X.h
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/src/vl53l1_error_codes.h
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/src/vl53l1x_class.cpp
  Firmware/ESP32/Arduino_platform/lib/SparkFun VL53L1X 4m Laser Distance Sensor/src/vl53l1x_class.h
  Firmware/ESP32/Arduino_platform/platformio.ini
  Firmware/ESP32/Arduino_platform/src/main.cpp
Labels: dev-level, development

#40 + UV Integration
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_uv.c
  Firmware/ESP32/Arduino_platform/lib/DEV/dev_uv.h
Labels: dev-level
